parameters:
	ignoreErrors:
		-
			message: "#^Class Spiral\\\\RoadRunner\\\\Http\\\\PSR7Worker not found\\.$#"
			count: 2
			path: config/autoload/dependencies.global.php

		-
			message: "#^Cannot call method error\\(\\) on Symfony\\\\Component\\\\Console\\\\Style\\\\SymfonyStyle\\|null\\.$#"
			count: 4
			path: module/CLI/src/Command/Import/DataImportCommand.php

		-
			message: "#^Cannot call method info\\(\\) on Symfony\\\\Component\\\\Console\\\\Style\\\\SymfonyStyle\\|null\\.$#"
			count: 5
			path: module/CLI/src/Command/Import/DataImportCommand.php

		-
			message: "#^Cannot call method warning\\(\\) on Symfony\\\\Component\\\\Console\\\\Style\\\\SymfonyStyle\\|null\\.$#"
			count: 1
			path: module/CLI/src/Command/Import/DataImportCommand.php

		-
			message: "#^Cannot call method writeln\\(\\) on Symfony\\\\Component\\\\Console\\\\Style\\\\SymfonyStyle\\|null\\.$#"
			count: 1
			path: module/CLI/src/Command/Import/DataImportCommand.php

		-
			message: "#^Method Shlinkio\\\\Shlink\\\\CLI\\\\Command\\\\Import\\\\DataImportCommand\\:\\:processData\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/CLI/src/Command/Import/DataImportCommand.php

		-
			message: "#^Method Shlinkio\\\\Shlink\\\\CLI\\\\Command\\\\Import\\\\DataImportCommand\\:\\:processTags\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/CLI/src/Command/Import/DataImportCommand.php

		-
			message: "#^Parameter \\#1 \\$domainName of method Shlinkio\\\\Shlink\\\\CLI\\\\Command\\\\Import\\\\DataImportCommand\\:\\:getDomain\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: module/CLI/src/Command/Import/DataImportCommand.php

		-
			message: "#^Parameter \\#2 \\$callback of function array_filter expects \\(callable\\(string\\)\\: bool\\)\\|null, Closure\\(string\\)\\: string given\\.$#"
			count: 1
			path: module/CLI/src/Command/Import/DataImportCommand.php

